<%- include('partials/header') %> 

<h1>Services Provided</h1>

<!-- Add buttons with links to the same quiz page but with different query parameters -->
<button onclick="location.href='/quiz?type=anxiety'">Anxiety</button>
<button onclick="location.href='/quiz?type=depression'">Depression</button>
<button onclick="location.href='/quiz?type=stress-management'">Stress Management</button>
<button onclick="location.href='/quiz?type=family-relationship-issues'">Family Relationship Issues</button>
<button onclick="location.href='/quiz?type=career-counseling'">Career Counseling</button>
<button onclick="location.href='/quiz?type=addiction-recovery'">Addiction Recovery</button>

<%- include('partials/footer') %>
