body{
    background-color: #e3f2fd; 
}


.thero{
    background-color: darkviolet;
    width: 20%;
    text-align: center;
    margin:20px;
}

.user{
    width: 20%;
    text-align: center;
    background-color: blueviolet;
    margin:20px;
}